%h2 Hacker News User Activity Stream 
%form{:method => 'post', :action => '/streams'}
  %p
    %label  Username 
    %span{:style => 'font-size:smaller; color:#777'} (e.g. pg, patio11)
    %input{:type => 'text', :name => 'user'}
  %p
    %label Filter: Points &gt;=
    %input{:type => 'text', :name => 'points', :value => 1}
  %p
    %label Give it a descriptive title<br/>
    %input{:type => 'text', :name => 'title'}
  %p
    %input{:type => 'submit', :value => 'Watch'}

